<div class="card-header card-header-infinity d-flex justify-content-between">
    <h4 class="card-title">Feature Cards Manage</h4>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <nz-alert nzType="info" class="mb-2" nzDescription="4 feature cards will be good fit for your website."
                nzShowIcon>
            </nz-alert>
        </div>
        <div class="col-md-12">
            <form nz-form [formGroup]="featureForm" (ngSubmit)="onSubmitForm()">
                <ng-container formArrayName="features">
                    <div class="row mt-2 pt-2 pb-2" *ngFor="let featureGroup of featureCardsFormArray.controls; 
                                                    let i = index; 
                                                    let isLast = last; 
                                                    let isFirst = first" [formGroupName]="i">
                        <input formControlName="id" type="hidden" />
                        <div class="col-md-12 text-end">
                            <nz-tag nzColor="#f50">Feature- {{i+1}}</nz-tag>
                        </div>

                        <div class="col-md-12">
                            <nz-form-label nzFor="icon_name" nzRequired>Icon (Class
                                Name)</nz-form-label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Icon is required!">
                                    <input nz-input type="text" formControlName="icon_name" id="icon_name"
                                        placeholder="Icon class name" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-12">
                            <nz-form-label nzRequired nzFor="title">Title</nz-form-label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Title is required!">
                                    <input nz-input type="text" formControlName="title" id="title"
                                        placeholder="Enter title" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-12">
                            <nz-form-label nzFor="description" nzRequired>Description</nz-form-label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Description is required!">
                                    <textarea nz-input type="text" formControlName="description"
                                        placeholder="Write the description" id="description">
                                     </textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-12">
                            <button nz-button type="button" *ngIf="isLast" class="me-2" nzType="primary"
                                (click)="addFeature()">
                                Add Feature
                            </button>
                            <button nz-button type="button" *ngIf="!isFirst" nzDanger (click)="removeFeature(i)">Remove
                            </button>
                        </div>
                    </div>
                </ng-container>

                <div class="text-end mb-2">
                    <button nz-button type="submit" [disabled]="featureForm.invalid || isDisabled" nzType="primary">
                        Update
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>