<div class="card-header card-header-infinity d-flex justify-content-between">
    <h4 class="card-title">Why Choose Us Manage</h4>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <form nz-form [formGroup]="whyChooseUsForm" (ngSubmit)="onSubmitForm()">
                <div class="row">
                    <input formControlName="id" type="hidden" />

                    <div class="col-md-12">
                        <nz-form-label nzRequired="true" class="ant-label" nzFor="title">Title
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control class="ant-error-message" nzErrorTip="Title is required!">
                                <input formControlName="title" id="title" type="text" nz-input placeholder="Enter title"
                                    style="width: 100%;" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired="true" class="ant-label" nzFor="sub-title">Subtitle
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control class="ant-error-message" nzErrorTip="Subtitle is required!">
                                <input formControlName="subtitle" id="sub-title" nz-input type="text"
                                    placeholder="Enter subtitle" style="width: 100%;" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired="true" class="ant-label" nzFor="description">Description
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control class="ant-error-message" nzErrorTip="Description is required!">
                                <textarea nz-input placeholder="Write the description" formControlName="description"
                                    name="description" style="width: 100%;">
                                                            </textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired="true" class="ant-label" nzFor="circle_text">Circle Text
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control class="ant-error-message" nzErrorTip="Circle text is required!">
                                <input nz-input placeholder="Write circle text" type="text"
                                    formControlName="circle_text" name="circle_text" style="width: 100%;">
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <ng-container formArrayName="progress_bars">
                        <div class="col-md-12">
                            <nz-alert nzType="info" class="mb-2"
                                nzDescription="3 progress bar will be good fit for your website." nzShowIcon>
                            </nz-alert>
                        </div>
                        <div class="col-md-12 mt-2 pt-2 pb-2" *ngFor="let featureGroup of whyChooseUsForm.get('progress_bars')?.value; 
                                                        let i = index; 
                                                        let isLast = last; 
                                                        let isFirst = first" [formGroupName]="i">
                            <input formControlName="id" type="hidden" />
                            <div class="col-md-12 text-right">
                                <nz-tag nzColor="#f50">Progress Bar - {{i+1}}</nz-tag>
                            </div>

                            <div class="col-md-12">
                                <nz-form-label nzRequired="true" class="ant-label" nzFor="title">Progress Bar Title
                                </nz-form-label>
                                <nz-form-item>
                                    <nz-form-control class="ant-error-message" nzErrorTip="Title is required!">
                                        <input formControlName="title" nz-input type="text" placeholder="Enter title"
                                            style="width: 100%;" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12">
                                <nz-form-label nzRequired="true" class="ant-label" nzFor="percentage">Percentage
                                </nz-form-label>
                                <nz-form-item>
                                    <nz-form-control class="ant-error-message" nzErrorTip="Percentage is required!">
                                        <input nz-input placeholder="Enter a percentage" type="number"
                                            formControlName="percentage" name="percentage" style="width: 100%;" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12">
                                <button *ngIf="isLast" class="mr-2" type="button" nz-button nzType="primary"
                                    (click)="addProgressBar()">Add
                                    Progress Bar
                                </button>
                                <button *ngIf="!isFirst" type="button" nz-button nzDanger
                                    (click)="removeProgressBar(i)">Remove
                                </button>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="text-right mb-2">
                    <button type="submit" [disabled]="whyChooseUsForm.invalid || isDisabled" type="submit" nz-button
                        nzType="primary">
                        <i class="icofont icofont-arrow-right"></i>
                        Update
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>