<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- first division -->
            <div class="col-md-12">
                <div class="card form-head-color " data-color="azure">
                    <div class="card-header card-header-infinity d-flex justify-content-between">
                        <h4 class="card-title">Operation Type</h4>
                        <button nz-button (click)="openDialog()" nzType="default">
                          <i class="fa fa-plus mr-2"></i>
                          Create New 
                      </button>
                    </div>
                    <div class="card-body">
                        
                        <div class="row justify-content-between mb-4">
            
                            <div class="col-md-3">
                                <nz-select nzShowSearch class="w-100" [(ngModel)]="itemPerPage" (ngModelChange)="changedPageItem($event)">
                                  <nz-option nzLabel="15" nzValue="15"></nz-option>
                                  <nz-option nzLabel="20" nzValue="20"></nz-option>
                                  <nz-option nzLabel="50" nzValue="50"></nz-option>
                                  <nz-option nzLabel="100" nzValue="100"></nz-option>
                                  <nz-option nzLabel="500" nzValue="500"></nz-option>
                                  <nz-option nzLabel="All" nzValue="1000"></nz-option>
                                </nz-select>
                            </div>
                            <div class="col-md-6">
                                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                  <input type="text" nz-input placeholder="Search by Operation type" [(ngModel)]="searchValues" (ngModelChange)="filter($event)" />
                                </nz-input-group>
                                <ng-template #suffixIconButton>
                                  <button nz-button nzType="primary" nzSearch>
                                    <i nz-icon nzType="close" *ngIf="searchValues!==''"
                                    (click)="clearFilter()"></i>
                                    <i nz-icon nzType="search" *ngIf="searchValues===''"></i>
                                  </button>
                                </ng-template>
                              
                              </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover pinTbl">
                              <thead>
                              <tr>
                                <th scope="col" (click)="sort('id')">SL
                                  <i *ngIf="sortColumn==='id' && dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_down
                                  </i>
                                  <i *ngIf="sortColumn==='id' && !dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_up
                                  </i>
                                </th>
                                
                                <th (click)="sort('title')">Operation  Type
                                  <i *ngIf="sortColumn==='title' && dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_down
                                  </i>
                                  <i *ngIf="sortColumn==='title' && !dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_up
                                  </i>
                                </th>
                                <th (click)="sort('op_type_code')">Operation Type Code
                                  <i *ngIf="sortColumn==='op_type_code' && dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_down
                                  </i>
                                  <i *ngIf="sortColumn==='op_type_code' && !dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_up
                                  </i>
                                </th>
                               
                                <th (click)="sort('remarks')">Remarks
                                  <i *ngIf="sortColumn==='remarks' && dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_down
                                  </i>
                                  <i *ngIf="sortColumn==='remarks' && !dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_up
                                  </i>
                                </th>
                                  
                                <th (click)="sort('status')">Status
                                    <i *ngIf="sortColumn==='status' && dataOrderBy" class="material-icons pull-right">
                                        arrow_drop_down
                                    </i>
                                    <i *ngIf="sortColumn==='status' && !dataOrderBy" class="material-icons pull-right">
                                        arrow_drop_up
                                    </i>
                                </th>
                                
                                <th>Action</th>
                              </tr>
                              </thead>
                              <tbody *ngIf="list?.length>0">
                              <tr *ngFor="let info of list | paginate: {
                                currentPage: pageRequest,
                                itemsPerPage: itemPerPage,
                                totalItems: totalitem
                                }  ; index as i;">
                                <td>{{getSL(i + 1)}}</td>
                                <td>{{info.title}}</td>
                                <td>{{info.op_type_code}}</td>
                                
                               <td class="text-center">
                                  <i class="fa fa-commenting" style="font-size: 24px;" aria-hidden="true" nz-popover  nzPopoverTitle="Channel Note" [nzPopoverContent]="noteTemplate" nzPopoverPlacement="top"></i>
                                <ng-template #noteTemplate>
                                    <div>
                                      <p class="m-0">{{info.remarks}}</p>
                                      <p class="m-0"><strong>Created By:</strong> {{info.users.user_name}} | {{info.created_at | date }}</p>
                                    </div>
                                  </ng-template>
                              </td>
                                <td class="text-center"><p
                                  class="badge text-wrap {{info.status == 1 ? 'badge-success' : 'badge-danger'}}">
                                  <span *ngIf="info.status == 1">Active</span>
                                  <span *ngIf="info.status == 0">Inactive</span>
                                </p>
                                </td>
                               
                                <td class="text-center">
                                  <button (click)="EditDialog(info)" nz-button nz-tooltip nzShape="circle" nzTooltipPlacement="topRight" nzTooltipTitle="Edit User" nzType="primary"><i class="fa fa-pencil"></i></button>
                                </td>
                              </tr>
                              </tbody>
                             
                            </table>
                        </div>
                          <div class="row">
                
                            <div class="col-md-6">
                              <span>Total Records: {{totalitem}}</span>
                            </div>
                            <div class="col-md-6">
                              <div class="pull-right">
                                <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                              </div>
                            </div>
                          </div>

                    </div>
                </div>
            </div>



            <!-- Second division -->
            <div class="col-md-12">
                <div class="card form-head-color " data-color="azure">
                    <div class="card-header card-header-infinity">
                        <h4 class="card-title">Updated Channel Operation Type</h4>
                    </div>
                    <div class="card-body">

                        <div class="row justify-content-between mb-4">
            
                            <div class="col-md-3">
                                <nz-select nzShowSearch class="w-100" [(ngModel)]="itemPerPageUP" (ngModelChange)="changedPageUpdate()">
                                  <nz-option nzLabel="15" nzValue="15"></nz-option>
                                  <nz-option nzLabel="20" nzValue="20"></nz-option>
                                  <nz-option nzLabel="50" nzValue="50"></nz-option>
                                  <nz-option nzLabel="100" nzValue="100"></nz-option>
                                  <nz-option nzLabel="500" nzValue="500"></nz-option>
                                  <nz-option nzLabel="All" nzValue="1000"></nz-option>
                                </nz-select>
                            </div>
                           
                              <div class="col-md-6">
                                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                  <input type="text" nz-input placeholder="Search by Operation type" [(ngModel)]="searchValuesUP" (ngModelChange)="filter2($event)" />
                                </nz-input-group>
                                <ng-template #suffixIconButton>
                                  <button nz-button nzType="primary" nzSearch>
                                    <i nz-icon nzType="close" *ngIf="searchValuesUP!==''"
                                    (click)="clearFilter2()"></i>
                                    <i nz-icon nzType="search" *ngIf="searchValuesUP===''"></i>
                                  </button>
                                </ng-template>
                              
                              </div>
                           
                        </div>
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered table-hover pinTbl">
                              <thead>
                              <tr>
                                <th scope="col" (click)="sort2('id')">SL
                                  <i *ngIf="sortColumnUP==='id' && dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_down
                                  </i>
                                  <i *ngIf="sortColumnUP==='id' && !dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_up
                                  </i>
                                </th>
                                
                                
                                  <th (click)="sort('title')">Channel  Type
                                    <i *ngIf="sortColumn==='title' && dataOrderBy" class="material-icons pull-right">
                                      arrow_drop_down
                                    </i>
                                    <i *ngIf="sortColumn==='title' && !dataOrderBy" class="material-icons pull-right">
                                      arrow_drop_up
                                    </i>
                                  </th>
                                  <th (click)="sort('op_type_code')">Channel Type Code
                                    <i *ngIf="sortColumn==='op_type_code' && dataOrderBy" class="material-icons pull-right">
                                      arrow_drop_down
                                    </i>
                                    <i *ngIf="sortColumn==='op_type_code' && !dataOrderBy" class="material-icons pull-right">
                                      arrow_drop_up
                                    </i>
                                  </th>
                                
                                <th (click)="sort2('remarks')">Remarks
                                  <i *ngIf="sortColumnUP==='remarks' && dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_down
                                  </i>
                                  <i *ngIf="sortColumnUP==='remarks' && !dataOrderBy" class="material-icons pull-right">
                                    arrow_drop_up
                                  </i>
                                </th>
                                  
                                <th (click)="sort2('status')">Status
                                    <i *ngIf="sortColumnUP==='status' && dataOrderBy" class="material-icons pull-right">
                                        arrow_drop_down
                                    </i>
                                    <i *ngIf="sortColumnUP==='status' && !dataOrderBy" class="material-icons pull-right">
                                        arrow_drop_up
                                    </i>
                                </th>
                                 
                              </tr>
                              </thead>
                              <tbody *ngIf="updatelist?.length>0">
                              <tr *ngFor="let info of updatelist | paginate: {
                                currentPage: pageRequestUP,
                                itemsPerPage: itemPerPageUP,
                                totalItems: totalitemUpdate,
                                id: 'pagination2'
                                }  ; index as i;">
                                <td>{{getSL(i + 1)}}</td>
                                <td>{{info.title}}</td>
                                <td>{{info.op_type_code}}</td>
                                <td class="text-center">
                                    <i class="fa fa-commenting" style="font-size: 24px;" aria-hidden="true" nz-popover  nzPopoverTitle="Login Notify Provider Note" [nzPopoverContent]="upnoteTemplate" nzPopoverPlacement="top"></i>
                                    <ng-template #upnoteTemplate>
                                            <div>
                                              <p class="m-0">{{info.remarks}}</p>
                                              <p class="m-0"><strong>Created By:</strong> {{info.users.user_name}} | {{info.created_at | date}}</p>
                                              <p class="m-0"><strong>Updated By:</strong> {{info.update_users.user_name}} | {{info.updated_at | date }}</p>
                                            </div>
                                    </ng-template>
                                </td>
                                <td class="text-center"><p
                                  class="badge text-wrap {{info.status == 1 ? 'badge-success' : 'badge-danger'}}">
                                  <span *ngIf="info.status == 1">Active</span>
                                  <span *ngIf="info.status == 0">Inactive</span>
                                </p>
                                </td>
                               
                              </tr>
                              </tbody>
                             
                            </table>
                        </div>
                          <div class="row">
                
                            <div class="col-md-6">
                              <span>Total Records: {{totalitemUpdate}}</span>
                            </div>
                            <div class="col-md-6">
                              <div class="pull-right">
                                <pagination-controls (pageChange)="pageChangeUpdate($event)" id="pagination2" class="my-pagination"></pagination-controls>
                              </div>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>