<h2 mat-dialog-title style="margin: 0;">
    {{data? 'Update': 'Create'}} Service
    <button [mat-dialog-close]="true" class="close mt-1 text-white" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span>
    </button>
</h2>

<form [formGroup]="serviceForm" (ngSubmit)="onSubmitForm()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <input formControlName="id" type="hidden" />

            <div class="col-md-12">
                <nz-alert class="mb-2" *ngIf="imageError" nzType="error" nzMessage="{{imageError}}" nzShowIcon>
                </nz-alert>
                <nz-form-label nzFor="image" nzRequired>
                    Image
                </nz-form-label>
                <nz-form-item>
                    <nz-form-control nzValidateStatus="warning"
                        nzWarningTip="Suggested webp Transparent Background Image and Ratio: 565 * 380 px | Maximum Size: 1MB">
                        <input #fileInput (change)="onFileSelected($event, 'service-image')" style="display: none;"
                            accept="image/*" type="file">
                        <button nz-button (click)="fileInput.click()" nz-tooltip nzTooltipPlacement="rightTop"
                            nzTooltipTitle="Only Image File" nzType="primary" type="button">
                            <i class="fa fa-cloud-upload me-2"></i>
                            Select Image
                        </button>

                        <div class="mt-2" *ngIf="imageFile">
                            <img [src]="imageFile" alt="hero section image" height="200" width="250" />
                            <button nz-button type="button" nzDanger (click)="removeImage('service-image')"
                                class="ms-2">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>

                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-12">
                <nz-form-label nzRequired nzFor="graphics_type">Graphics Type</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Graphics type is required!">
                        <nz-select style="width: 100%" formControlName="graphics_type"
                            nzPlaceHolder="Select graphics type" id="graphics_type" name="graphics_type">
                            <nz-option nzLabel="Icon" [nzValue]="1"></nz-option>
                            <nz-option nzLabel="Image" [nzValue]="2"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12" *ngIf="serviceForm.get('graphics_type')?.value == 2">
                <nz-alert class="mb-2" *ngIf="imageIconError" nzType="error" nzMessage="{{imageIconError}}" nzShowIcon>
                </nz-alert>
                <nz-form-label nzFor="image" nzRequired>
                    Image Icon
                </nz-form-label>
                <nz-form-item>
                    <nz-form-control nzValidateStatus="warning"
                        nzWarningTip="Suggested a png image icon and Ratio: 80 * 80 px | Maximum Size: 200kb">
                        <input #fileInput1 (change)="onFileSelected($event, 'icon-image')" style="display: none;"
                            accept="image/*" type="file">
                        <button nz-button (click)="fileInput1.click()" nz-tooltip nzTooltipPlacement="rightTop"
                            nzTooltipTitle="Only Image File" nzType="primary" type="button">
                            <i class="fa fa-cloud-upload me-2"></i>
                            Select Image Icon
                        </button>

                        <div class="mt-2" *ngIf="imageIconFile">
                            <img [src]="imageIconFile" alt="hero section image" height="100" width="100" />
                            <button nz-button type="button" nzDanger (click)="removeImage('icon-image')"
                                class="ms-2">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>

                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12" *ngIf="serviceForm.get('graphics_type')?.value == 1">
                <nz-form-label nzRequired nzFor="icon">Icon (Class Name) </nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Icon is required!">
                        <input nz-input type="text" formControlName="icon" id="icon" placeholder="Enter icon name" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-12">
                <nz-form-label nzRequired nzFor="title">Title
                </nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Title is required!">
                        <input nz-input type="text" formControlName="title" id="title" placeholder="Enter title" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-12">
                <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Description is required!">
                        <textarea nz-input type="text" placeholder="Write the description" formControlName="description"
                            id="description">
                        </textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label nzFor="status">Status</nz-form-label>
                        <nz-switch class="ms-2" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                            formControlName="status" name="status" id="status">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label nzFor="status">Feature</nz-form-label>
                        <nz-switch class="ms-2" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                            formControlName="feature" name="feature" id="feature">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button [mat-dialog-close]="true" class="me-2" mat-raised-button>
            <i class="icofont icofont-close-line"></i>
            Close
        </button>
        <button [disabled]="serviceForm.invalid || isDisabled || !imageFile || iconImageRequired && !imageIconFile" color="primary" mat-raised-button>
            <i class="icofont icofont-save"></i>
            {{data? 'Update': 'Create'}}
        </button>

    </mat-dialog-actions>
</form>