$nav-disabled-link-color: $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;

$bmd-navbar-link-font-weight: $bmd-font-weight-base !default;
$bmd-navbar-link-font-size: .875rem !default;
$bmd-navbar-link-padding: .5321rem;

$bmd-nav-tabs-pills-font-weight: 500 !default; 
$bmd-nav-tabs-pills-font-size: .875rem !default; 
$bmd-nav-tabs-pills-link-padding: 1.4286em .8575em !default;

$bmd-nav-tabs-border-size: .214rem !default;
$bmd-nav-tabs-color: $gray !default;
$bmd-nav-tabs-active-color: $gray-dark !default;

$bmd-nav-tabs-disabled-link-color: $nav-disabled-link-color !default;
$bmd-nav-tabs-disabled-link-color-hover: $nav-disabled-link-hover-color !default;

$bmd-nav-tabs-primary-color: $bmd-inverse !default;
$bmd-nav-tabs-primary-active-color: #fff !default;
$bmd-nav-tabs-primary-active-border-color: #fff !default;
$bmd-nav-tabs-primary-disabled-link-color: $bmd-inverse-light !default;
$bmd-nav-tabs-primary-disabled-link-color-hover: $bmd-inverse-light !default;

$bmd-nav-tabs-inverse-color: $bmd-inverse !default;
$bmd-nav-tabs-inverse-active-color: #fff !default;
$bmd-nav-tabs-inverse-active-border-color: #fff !default;
$bmd-nav-tabs-inverse-disabled-link-color: $bmd-inverse-light !default;
$bmd-nav-tabs-inverse-disabled-link-color-hover: $bmd-inverse-light !default;

$nav-tabs-active-link-hover-bg: transparent !default;
