<h2 mat-dialog-title style="margin: 0;">
    {{data? 'Update': 'Create'}} Invoice
    <button mat-dialog-close class="close mt-1 text-white" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span>
    </button>
</h2>
<form [formGroup]="invoiceForm" (ngSubmit)="onSubmitForm()">
    <mat-dialog-content class="mat-typography">
        <!-- <div class="row">

            <div class="col-md-6">
                <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzHasFeedback [nzErrorTip]="nameErrorTemplate">
                        <input nz-input type="text" formControlName="name" id="name" placeholder="Name">
                        <ng-template #nameErrorTemplate let-control>
                            <ng-container *ngIf="control.hasError('required')">Name is required.</ng-container>
                            <ng-container *ngIf="control.hasError('minlength')">Name must be at least 6
                                characters.</ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">Name must be at most 30
                                characters.</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTemplate">
                        <input nz-input type="email" formControlName="email" id="email" placeholder="Enter email" />
                        <ng-template #emailErrorTemplate let-control>
                            <ng-container *ngIf="control.hasError('email')">The input is not valid
                                E-mail!</ng-container>
                            <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-label nzRequired nzFor="phone">Phone</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzHasFeedback [nzErrorTip]="phoneErrorTemplate">
                        <input nz-input type="text" formControlName="phone" id="phone" placeholder="Enter phone" />
                        <ng-template #phoneErrorTemplate let-control>
                            <ng-container *ngIf="control.hasError('minlength')">Phone must be 11 digits
                                long!</ng-container>
                            <ng-container *ngIf="control.hasError('maxlength')">Phone must be at most 11 digits
                                long!</ng-container>
                            <ng-container *ngIf="control.hasError('required')">Phone is required!</ng-container>
                            <ng-container *ngIf="control.hasError('pattern')">Invalid phone numbers!</ng-container>
                        </ng-template>
                    </nz-form-control>

                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Doctor is required!">
                        <nz-form-label nzRequired nzFor="dentist_id">Doctor</nz-form-label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a doctor" name="dentist_id"
                            formControlName="dentist_id">
                            <nz-option *ngFor="let dentist of dentists" [nzValue]="dentist.id" [nzLabel]="dentist.name"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Department is required!">
                        <nz-form-label nzFor="department_id" nzRequired>Department</nz-form-label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a department" id="department_id"
                            formControlName="department_id">
                         
                            <nz-option [nzValue]="1" nzLabel="Dental Department"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="Surgery Department"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="dateErrorTemplate">
                        <nz-form-label nzFor="date" nzRequired>Date</nz-form-label>
                        <nz-date-picker id="date" formControlName="date" style="width: 100%"></nz-date-picker>
                        <ng-template #dateErrorTemplate let-control>
                            <ng-container *ngIf="control.hasError('required')">Phone is required!</ng-container>
                            <ng-container *ngIf="control.hasError('invalidBookingDate')">Booking date can't be
                                past.</ng-container>
                            <ng-container *ngIf="control.hasError('exceedBookingDate')">Booking can't exceed next 10
                                days.</ng-container>
                            <ng-container *ngIf="control.hasError('disabledDate')">Off day selected.</ng-container>
                        </ng-template>

                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control nzErrorTip="Time is required!">
                        <nz-form-label nzFor="time" nzRequired>Time</nz-form-label>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a time" name="time"
                            formControlName="time">
                            <nz-option [nzValue]="0" nzLabel="Select Time"></nz-option>
                            <nz-option [nzValue]="1" nzLabel="9:00 AM - 10:00 AM"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="10:00 AM - 11:00 AM"></nz-option>
                            <nz-option [nzValue]="3" nzLabel="11:00 AM - 12:00 PM"></nz-option>
                            <nz-option [nzValue]="4" nzLabel="12:00 PM - 01:00 PM"></nz-option>
                            <nz-option [nzValue]="5" nzLabel="01:00 PM - 02:00 PM"></nz-option>
                            <nz-option [nzValue]="6" nzLabel="03:00 PM - 04:00 PM"></nz-option>
                            <nz-option [nzValue]="7" nzLabel="04:00 PM - 05:00 PM"></nz-option>
                            <nz-option [nzValue]="8" nzLabel="05:00 PM - 06:00 PM"></nz-option>
                            <nz-option [nzValue]="9" nzLabel="07:00 PM - 08:00 PM"></nz-option>
                            <nz-option [nzValue]="10" nzLabel="08:00 PM - 09:00 PM"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-md-12" *ngIf="data">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label nzFor="status">Status</nz-form-label>
                        <nz-select nzShowSearch nzAllowClear formControlName="status" nzPlaceHolder="Select a status"
                            name="status">
                            <nz-option [nzLabel]="'Scheduled'" [nzValue]="0">Scheduled</nz-option>
                            <nz-option [nzLabel]="'Confirmed'" [nzValue]="1">Confirmed</nz-option>
                            <nz-option [nzLabel]="'Pending Confirmation'" [nzValue]="2">Pending Confirmation</nz-option>
                            <nz-option [nzLabel]="'Cancelled by Patient'" [nzValue]="3">Cancelled by Patient</nz-option>
                            <nz-option [nzLabel]="'Cancelled by Doctor'" [nzValue]="4">Cancelled by Doctor</nz-option>
                            <nz-option [nzLabel]="'Rescheduled'" [nzValue]="5">Rescheduled</nz-option>
                            <nz-option [nzLabel]="'Completed'" [nzValue]="6">Completed</nz-option>
                            <nz-option [nzLabel]="'In Progress'" [nzValue]="7">In Progress</nz-option>
                            <nz-option [nzLabel]="'Emergency'" [nzValue]="8">Emergency</nz-option>
                            <nz-option [nzLabel]="'Awaiting Treatment'" [nzValue]="9">Awaiting Treatment</nz-option>
                            <nz-option [nzLabel]="'Follow-Up Required'" [nzValue]="10">Follow-Up Required</nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-12">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label nzFor="remarks">Remarks</nz-form-label>
                        <textarea nz-input type="text" name="remarks" placeholder="Write the remarks"
                            formControlName="remarks" id="remarks">
                        </textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label nzFor="status">Feature</nz-form-label>
                        <nz-switch class="ms-2" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                            formControlName="feature" name="feature" id="feature">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div> -->

        <div class="invoice-wrap">
            <div class="invoice-inner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td align="right" valign="top">
                                <div class="company-info">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img id="logo" src="assets/img/logo.jpeg">
                                                    <p class="d-flex mt-2 mb-0">
                                                        <span nz-icon nzType="phone" nzTheme="outline"></span>
                                                        <small class="ms-2">
                                                            <a href="tel:09613445544"> 09613445544</a>
                                                        </small>
                                                    </p>
                                                    <p class="d-flex mb-0">
                                                        <span nz-icon nzType="mobile" nzTheme="outline"></span>
                                                        <small class="ms-2">
                                                            <a href="tel:+8802410327017"> +8802-41032-7017</a>
                                                        </small>
                                                    </p>
                                                    <p class="d-flex mb-0">
                                                        <span nz-icon nzType="global" nzTheme="outline"></span>
                                                        <small class="ms-2">
                                                            <a href="http://www.ibhospital.com/"> www.ibhospital.com</a>
                                                        </small>
                                                    </p>
                                                    <p class="d-flex mb-0">
                                                        <span nz-icon nzType="mail" nzTheme="outline"></span>
                                                        <small class="ms-2">
                                                            <a href="mailto:info@insafbarakahospital.com">
                                                                info@insafbarakahospital.com</a>
                                                        </small>
                                                    </p>

                                                    <p class="d-flex mb-0">
                                                        <span nz-icon nzType="home" nzTheme="outline"></span>
                                                        <small class="ms-2">11 Shahid Tazuddin Ahmed Shoroni,
                                                            <br />
                                                            Mogbazar, Dhaka-1217
                                                        </small>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td align="right" valign="top">
                                <strong>Dental, Oral and Maxillofacial Surgeon</strong><br>
                                <h2 class="m-0">Dr. Asraf Ali Bissash Reyad</h2>
                                <small class="info mb-2">
                                    BDS (Dhaka) MDS (China)<br>
                                    Advanced Training in dental implant (Malaysia)<br>
                                    Associate Fellow in Laser dentistry (India)<br>
                                    <span class="text-success">Assistant Professor Oral and Maxillofacial Surgery<br>
                                        Chief Consultant, Dental Unit
                                    </span><br>
                                    BMDC: 5483
                                </small>
                                <div class="contact">
                                    Mobile: 01726-187603 <br>
                                    Serial: 09613-445544 (8 am-8 pm)
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="invoice-address">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" width="50%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <nz-form-label nzFor="appointment_id" nzRequired>Bill
                                                        To</nz-form-label>
                                                </td>
                                                <td valign="top">
                                                    <div class="client_info">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-left:25px;">
                                                                        <nz-form-control>
                                                                            <nz-select nzShowSearch nzAllowClear
                                                                                id="appointment_id"
                                                                                nzPlaceHolder="Select a person"
                                                                                formControlName="appointment_id"
                                                                                nzPlaceHolder="Select patient">
                                                                                <nz-option
                                                                                    *ngFor="let user of appointmentUsers"
                                                                                    [nzLabel]="user.name | titlecase"
                                                                                    [nzValue]="user.id">
                                                                                </nz-option>
                                                                            </nz-select>
                                                                        </nz-form-control>

                                                                        <nz-form-control>
                                                                            <input nz-input type="text" readonly
                                                                                id="phone" [value]="selectedUser?.phone"
                                                                                placeholder="[Phone]" />
                                                                        </nz-form-control>

                                                                        <nz-form-control>
                                                                            <input nz-input type="text" readonly
                                                                                id="address"
                                                                                [value]="selectedUser?.address"
                                                                                placeholder="[Address]" />
                                                                        </nz-form-control>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td align="right" valign="top" width="50%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="right">
                                                    <nz-form-label nzFor="invoice_id" nzRequired>
                                                        Invoice #
                                                    </nz-form-label>
                                                </td>
                                                <td align="left" style="padding-left:20px">
                                                    <input nz-input formControlName="invoice_id" type="text" id="no"
                                                        class="invoice-input" readonly>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right">
                                                    <nz-form-label nzFor="date" nzRequired>Date</nz-form-label>
                                                </td>
                                                <td align="left" style="padding-left:20px">
                                                    <nz-date-picker formControlName="date" style="width: 100%"
                                                        type="date" id="date" class="invoice-input">
                                                    </nz-date-picker>
                                                </td>
                                            </tr>

                                            <tr class="field1_row">
                                                <td align="right">
                                                    <nz-form-label nzFor="due_date" nzRequired>Due Date </nz-form-label>
                                                </td>
                                                <td align="left" style="padding-left:20px;">
                                                    <nz-date-picker formControlName="due_date" style="width: 100%"
                                                        type="date" id="due-date" class="invoice-input">
                                                    </nz-date-picker>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nz-form-label nzFor="selected_items" nzRequired>Diagnosis</nz-form-label>
                <nz-select formControlName="selected_items" id="selected_items" [nzMaxTagCount]="3"
                    [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple" nzPlaceHolder="Please select diagnosis">
                    <nz-option *ngFor="let item of invoiceItems" [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
                </nz-select>
                <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
                <div id="items-list">
                    <table class="table table-condensed table-bordered table-striped items-table">
                        <thead>
                            <tr>
                                <th style="width:75%">Item</th>
                                <th style="width:5%" class="text-center">Quantity</th>
                                <th style="width:15%" class="text-center">Unit Price</th>
                                <th style="width:10%" class="text-end">Amount</th>
                            </tr>
                        </thead>
                        <tfoot id="TotalsSection">

                            <tr class="totals-row shaped">
                                <td class="wide-cell" colspan="2"></td>
                                <td>
                                    <small><strong>Sub Total</strong></small>
                                </td>
                                <td class="text-end">
                                    <b *ngIf="subTotal">৳ {{subTotal}}</b>
                                </td>
                            </tr>
                            <tr class="totals-row shaped">
                                <td class="wide-cell" colspan="2">
                                    <p class="text-danger text-end" *ngIf="discount?.invalid && discount?.touched">
                                        <ng-container *ngIf="discount?.errors?.['min']">
                                            Minimum discount should be 5%!
                                        </ng-container>
                                        <ng-container *ngIf=" discount?.errors?.['max']">
                                            Max discount exceeds!
                                        </ng-container>
                                        <ng-container *ngIf="discount?.errors?.['pattern']">
                                            Invalid discount!
                                        </ng-container>
                                    </p>
                                </td>
                                <td><small><strong>Discount %</strong></small></td>
                                <td class="text-end">
                                    <input style="width: 100px;" type="text" formControlName="discount"
                                        class="invoice-input editable text-end">
                                </td>
                            </tr>
                            <tr class="totals-row shaped">
                                <td class="wide-cell" colspan="2"></td>
                                <td><small><strong>Total</strong></small></td>
                                <td class="text-end">
                                    <b *ngIf="totalAmount">৳ {{totalAmount}}</b>
                                </td>
                            </tr>

                            <tr class="totals-row shaped">
                                <td class="wide-cell" colspan="2">
                                    <p class="text-danger text-end" *ngIf="paidAmount?.invalid && paidAmount?.touched">
                                        <ng-container *ngIf="paidAmount?.errors?.['min']">
                                            Minimum amount should be 500!
                                        </ng-container>
                                        <ng-container *ngIf="paidAmount?.errors?.['max']">
                                            Total amount exceeds!
                                        </ng-container>
                                        <ng-container *ngIf="paidAmount?.errors?.['pattern']">
                                            Invalid Amount!
                                        </ng-container>
                                    </p>
                                </td>
                                <td><small><strong>Paid Amount</strong></small></td>
                                <td class="text-end">
                                    <input style="width: 100px;" type="text" formControlName="paid_amount"
                                        class="invoice-input editable text-end">
                                </td>
                            </tr>

                            <tr class="totals-row shaped">

                                <td class="wide-cell" colspan="2">
                                    <nz-form-control>
                                        <nz-form-label nzFor="status">Status</nz-form-label>
                                        <nz-switch class="ms-2" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                                            formControlName="status" name="status" id="status">
                                        </nz-switch>
                                    </nz-form-control>
                                </td>
                                <td><small><strong>Due Amount</strong></small></td>
                                <td class="text-end text-danger">
                                    <span id="unpaid">
                                        <b *ngIf="dueAmount">৳ - {{dueAmount}}</b>
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody id="ItemsTable" formArrayName="invoice_items">
                            <tr class="item-row" [formGroupName]="i"
                                *ngFor="let item of selectedInvoiceItems.controls; let i = index;">
                                <input formControlName="id" type="hidden" />
                                <td>
                                    <nz-select nzDisabled formControlName="item_id" name="item_id" id="item_id" type="text">
                                        <nz-option *ngFor="let item of invoiceItems" [nzLabel]="item.title"
                                            [nzValue]="item.id">
                                        </nz-option>
                                    </nz-select>
                                </td>
                                <td>
                                    <nz-input-number [nzMin]="1" [nzMax]="100" [nzStep]="1" formControlName="quantity"
                                        class="editable input-mini text-center">
                                    </nz-input-number>
                                </td>
                                <td>
                                    <input formControlName="price" name="price" id="price" type="text"
                                        class="editable input-mini text-end" readonly />
                                </td>
                                <td class="text-end">
                                    <input formControlName="amount" name="amount" id="amount" type="text"
                                        class="editable input-mini text-end" readonly />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="notes-block">
                    <table border="0" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <nz-form-label nzFor="remarks" nzRequired>Notes</nz-form-label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Note is required!">
                                            <textarea formControlName="remarks" id="remarks" nz-input rows="2"
                                                placeholder="Notes and Terms:"></textarea>
                                        </nz-form-control>
                                    </nz-form-item>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-dialog-close class="me-2" mat-raised-button>
            Close
        </button>
        <button [disabled]="invoiceForm.invalid || isDisabled" color="primary" mat-raised-button>
            {{data? 'Update': 'Create'}}
        </button>
    </mat-dialog-actions>
</form>