<div class="card-header card-header-infinity d-flex justify-content-between">
    <h4 class="card-title">Footer Manage</h4>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <form nz-form [formGroup]="footerForm" (ngSubmit)="onSubmitForm()">
                <div class="row">
                    <input formControlName="id" type="hidden" />

                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="description">Company
                            Description</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Description is required!">
                                <textarea nz-input type="text" placeholder="Write the description"
                                    formControlName="description" id="description">
                                </textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="address_title">Address Title
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Address Title is required!">
                                <input nz-input type="text" formControlName="address_title" id="address_title"
                                    placeholder="Enter address Title" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="address">Address</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Address is required!">
                                <textarea nz-input type="text" formControlName="address" id="address"
                                    placeholder="Enter address">
                                                            </textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="quick_link_heading">Quick Links
                            Heading</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Quick links heading is required!">
                                <input nz-input type="text" formControlName="quick_link_heading" id="quick_link_heading"
                                    placeholder="Enter quick link heading" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <ng-container formArrayName="quick_links">
                        <div class="col-md-12">
                            <nz-alert nzType="info" class="mb-2"
                                nzDescription="8 Quick Links will be good fit for your website." nzShowIcon>
                            </nz-alert>
                        </div>
                        <div class="col-md-12 mt-2 pt-2 pb-2" *ngFor="let linkGroup of quickLinksArray.controls; 
                                                        let i = index; 
                                                        let isLast = last; 
                                                        let isFirst = first" [formGroupName]="i">
                            <input formControlName="id" type="hidden" />
                            <div class="col-md-12 text-end">
                                <nz-tag nzColor="#f50">Link- {{i+1}}</nz-tag>
                            </div>

                            <div class="col-md-12">
                                <nz-form-label nzRequired nzFor="link_title">Link
                                    Title</nz-form-label>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Title is required!">
                                        <input nz-input type="text" formControlName="link_title" id="link_title"
                                            placeholder="Enter link title" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12">
                                <nz-form-label nzRequired nzFor="link">Link</nz-form-label>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Link is required!">
                                        <input nz-input type="text" formControlName="link" id="link"
                                            placeholder="Enter link" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div class="col-md-12">
                                <button nz-button type="button" *ngIf="isLast" class="me-2" nzType="primary"
                                    (click)="addLink()">Add Link
                                </button>
                                <button nz-button type="button" *ngIf="!isFirst" nzDanger (click)="removeLink(i)">Remove
                                </button>
                            </div>
                        </div>
                    </ng-container>

                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="hour_heading">Hour Heading
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Hour heading is required!">
                                <input nz-input type="text" formControlName="hour_heading" id="hour_heading"
                                    placeholder="Enter hour heading" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <ng-container formArrayName="hours">
                        <div class="col-md-12">
                            <nz-alert nzType="info" class="mb-2"
                                nzDescription="2 Opening time will be good fit for your website." nzShowIcon>
                            </nz-alert>
                        </div>
                        <div class="col-md-12 mt-2 pt-2 pb-2" *ngFor="let hourGroup of footerForm.get('hours')?.value; 
                                                        let i = index; 
                                                        let isLast = last; 
                                                        let isFirst = first" [formGroupName]="i">
                            <input formControlName="id" type="hidden" />
                            <div class="col-md-12 text-end">
                                <nz-tag nzColor="#f50">Hour- {{i+1}}</nz-tag>
                            </div>

                            <div class="col-md-12">
                                <nz-form-label nzRequired nzFor="day">Day/Days</nz-form-label>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Day is required!">
                                        <input nz-input type="text" formControlName="day" id="day"
                                            placeholder="Enter day" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12">
                                <nz-form-label nzRequired nzFor="time">Time</nz-form-label>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Time is required!">
                                        <input nz-input type="text" formControlName="time" id="time"
                                            placeholder="Enter time" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>

                            <div class="col-md-12">
                                <button nz-button type="button" *ngIf="isLast" class="me-2" nzType="primary"
                                    (click)="addHour()">Add Hour
                                </button>
                                <button nz-button type="button" *ngIf="!isFirst" nzDanger (click)="removeHour(i)">Remove
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="call_heading">Call
                            Heading</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Call heading is required!">
                                <input nz-input type="text" formControlName="call_heading" id="call_heading"
                                    placeholder="Enter call heading" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="phone">Phone </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Phone is required!">
                                <input nz-input type="text" formControlName="phone" id="phone"
                                    placeholder="Enter number" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12 text-end">
                        <nz-tag nzColor="#f50">Copyright Section: </nz-tag>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="organization">Organization
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Organization is required!">
                                <input nz-input type="text" formControlName="organization" id="organization"
                                    placeholder="Enter organization name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="powered_by">Powered By
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="powered_by is required!">
                                <input nz-input type="text" formControlName="powered_by" id="powered_by"
                                    placeholder="Enter powered by name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="creator">Creator </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Creator is required!">
                                <input nz-input type="text" formControlName="creator" id="creator"
                                    placeholder="Enter creator name" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>

                <div class="text-end mb-2">
                    <button nz-button type="submit" [disabled]="footerForm.invalid || isDisabled" nzType="primary">
                        Update
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>