<div class="card-header card-header-infinity d-flex justify-content-between">
    <h4 class="card-title">Who We Are Manage</h4>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <form nz-form [formGroup]="whoWeAreForm" (ngSubmit)="onSubmitForm()">
                <div class="row">
                    <input formControlName="id" type="hidden" />

                    <div class="col-md-12">
                        <nz-alert class="mb-2" *ngIf="imageError" nzType="error" nzMessage="{{imageError}}" nzShowIcon>
                        </nz-alert>
                        <nz-form-label nzFor="image" nzRequired>
                            Image
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzValidateStatus="warning"
                                nzWarningTip="Suggested webp Transparent Background Image and Ratio: 484 * 621 px | Maximum Size: 1MB">
                                <input #fileInput (change)="onFileSelected($event)" style="display: none;"
                                    accept="image/*" type="file">
                                <button nz-button (click)="fileInput.click()" nz-tooltip nzTooltipPlacement="rightTop"
                                    nzTooltipTitle="Only Image File" nzType="primary" type="button">
                                    <i class="fa fa-cloud-upload me-2"></i>
                                    Select Image
                                </button>

                                <div class="mt-2" *ngIf="imageFile">
                                    <img [src]="imageFile" alt="hero section image" height="300" width="250" />
                                    <button nz-button type="button" nzDanger (click)="removeImage()" class="ms-2">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>

                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="title">Title
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Title is required!">
                                <input nz-input type="text" formControlName="title" id="title"
                                    placeholder="Enter title" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="subtitle">Subtitle</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Subtitle is required!">
                                <input nz-input type="text" formControlName="subtitle" id="subtitle"
                                    placeholder="Enter subtitle" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Description is required!">
                                <textarea nz-input type="text" placeholder="Write the description"
                                    formControlName="description" id="description">
                                                            </textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="button_text">Appointment Button
                            Text</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Button text is required!">
                                <input nz-input type="text" formControlName="button_text" id="button_text"
                                    placeholder="Enter button text" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="percentage">Percentage
                        </nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Percentage is required!">
                                <input nz-input type="number" formControlName="percentage" id="percentage"
                                    placeholder="Enter percentage" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-md-12">
                        <nz-form-label nzRequired nzFor="percentage_text">Percentage
                            Text</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Percentage text is required!">
                                <input nz-input type="text" formControlName="percentage_text" id="percentage_text"
                                    placeholder="Enter percentage text" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <ng-container formArrayName="features">
                        <div class="col-md-12">
                            <nz-alert nzType="info" class="mb-2"
                                nzDescription="3 features will be good fit for your website." nzShowIcon>
                            </nz-alert>
                        </div>
                        <div class="col-md-12 mt-2 pt-2 pb-2" *ngFor="let featureGroup of whoWeAreForm.get('features')?.value; 
                                                        let i = index; 
                                                        let isLast = last; 
                                                        let isFirst = first" [formGroupName]="i">
                            <input formControlName="id" type="hidden" />
                            <div class="col-md-12 text-end">
                                <nz-tag nzColor="#f50">Feature- {{i+1}}</nz-tag>
                            </div>

                            <div class="col-md-12">
                                <nz-form-label nzRequired nzFor="title">Feature
                                    Title</nz-form-label>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Title is required!">
                                        <input nz-input type="text" formControlName="title" id="title"
                                            placeholder="Enter title" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12">
                                <nz-form-label nzRequired nzFor="description">Description
                                </nz-form-label>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Description is required!">
                                        <textarea nz-input type="text"
                                            placeholder="Write the description information..."
                                            formControlName="description" id="description">
                                                                    </textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div class="col-md-12">
                                <button nz-button type="button" *ngIf="isLast" class="me-2" nzType="primary"
                                    (click)="addFeature()">Add
                                    Feature
                                </button>
                                <button nz-button type="button" *ngIf="!isFirst" nzDanger
                                    (click)="removeFeature(i)">Remove
                                </button>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="text-end mb-2">
                    <button nz-button type="submit" [disabled]="whoWeAreForm.invalid || isDisabled" nzType="primary">
                        Update
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>