<div class="card-body">
    <div class="row">
        <div class="col-md-6">
            <nz-alert nzType="info" class="mb-2"
                nzDescription="Blog List Page Header Section" nzShowIcon>
            </nz-alert>
            <app-page-header [apiEndpoint]="'website/blog/page-header'"
                [pageType]="pageType.ListPage">
            </app-page-header>
        </div>
        <div class="col-md-6">
            <nz-alert nzType="info" class="mb-2"
                nzDescription="Blog Details Page Header Section" nzShowIcon>
            </nz-alert>
            <app-page-header [apiEndpoint]="'website/blog/page-header'"
                [pageType]="pageType.DetailsPage">
            </app-page-header>
        </div>
    </div>
</div>