<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="card form-head-color " data-color="azure">
                        <div class="card-header card-header-infinity d-flex justify-content-between">
                            <h4 class="card-title">About Us Manage</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form nz-form [formGroup]="aboutUsPageForm" (ngSubmit)="onSubmitForm()">
                                        <div class="row">
                                            <input formControlName="id" type="hidden" />

                                            <div class="col-md-12">
                                                <nz-form-label nzFor="page_title" nzRequired>Page Title</nz-form-label>
                                                <nz-form-item>
                                                    <nz-form-control nzErrorTip="Title is required!">
                                                        <input nz-input type="text" formControlName="page_title"
                                                            id="page_title" placeholder="Enter page title" />
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>

                                            <div class="col-md-12">
                                                <nz-alert class="mb-2" *ngIf="imageError" nzType="error"
                                                    nzMessage="{{imageError}}" nzShowIcon>
                                                </nz-alert>
                                                <nz-form-label nzFor="image" nzRequired>
                                                    Background Image
                                                </nz-form-label>
                                                <nz-form-item>
                                                    <nz-form-control nzValidateStatus="warning"
                                                        nzWarningTip="Suggested webp Background Image and Ratio: 1920 * 400 px | Maximum Size: 1MB">
                                                        <input #fileInput (change)="onFileSelected($event)"
                                                            style="display: none;" accept="image/*" type="file">
                                                        <button (click)="fileInput.click()" nz-button nz-tooltip
                                                            nzTooltipPlacement="rightTop"
                                                            nzTooltipTitle="Only Image File" nzType="primary"
                                                            type="button">
                                                            <i class="fa fa-cloud-upload me-2"></i>
                                                            Select Image
                                                        </button>

                                                        <div class="mt-2" *ngIf="imageFile">
                                                            <img [src]="imageFile" class="w-25"
                                                                alt="service page background image" />
                                                            <button nz-button type="button" nzDanger
                                                                (click)="removeImage()" class="ms-2">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </nz-form-control>
                                                </nz-form-item>
                                            </div>
                                        </div>

                                        <div class="text-end mb-2">
                                            <button nz-button type="submit"
                                                [disabled]="aboutUsPageForm.invalid || !imageFile || isDisabled"
                                                nzType="primary">
                                                Update
                                            </button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>