button#menu-toggle-2 {
  display: none;
}

#menu-toggle-2 span {
  font-size: 16px;
}

.side-logo {
  display: none;
  width: 72%;
  margin: 0 auto;
}

.main-logo {
  width: 130px;
}

.navbar-card {
  background: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-nav {
  top: 0px !important;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  padding: 9px 15px !important;
}

.header-bg {
  margin: 0;
  background: linear-gradient(87deg, #eeeeee 0, #00adee 100%) !important;
  padding-top: 13%;
  padding-bottom: 13%;
  position: fixed;
  width: 100%;
  top: 0;
}

.card .card-header-infinity .card-icon,
.card .card-header-infinity .card-text,
.card .card-header-infinity:not(.card-header-icon):not(.card-header-text),
.card.bg-infinity,
.card.card-rotate.bg-infinity .front,
.card.card-rotate.bg-infinity .back {
  background: #8b360ffc;
  background: url('../img/pen-top-bg.png');
  background-size: cover;
}

.card .card-header .card-title {
  margin-bottom: 0px;
  padding: 3px;
}

.ant-menu-submenu-title {
  padding-left: 12px !important;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, .65);
  background: transparent;
}

.main-panel .footer {
  border-top: 1px solid #e7e7e7;
  padding: 0;
}

.footer .copyright {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #00adee;
}


.footer .card .card-header {
  padding: 10px;
}

.main-panel .main-content {
  margin-top: 45px;
  padding: 30px 15px;
  padding-top: 0px;
  min-height: calc(95.5vh - 125px);
}

.navbar.navbar-transparent {
  padding-top: 8px;
}

.icon-menu {
  display: inline-flex;
}

.ant-menu-item .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-submenu-title .anticon {
  min-width: 24px;
  font-size: 20px !important;
  transition: font-size .15s cubic-bezier(.215, .61, .355, 1), margin .3s cubic-bezier(.645, .045, .355, 1), color .3s;
}

.mat-mdc-dialog-title {
  display: block;
  background: url('../img/pen-top-bg.png');
  background-size: cover;
  color: #fff !important;
  padding: 10px 15px;
  position: relative;
  border-radius: 0px 0px 6px 6px;
}

.border-1 {
  border: 1px solid #ffffff;
  padding: 5px 5px 5px 20px;
  background: #17d0c4;
  font-weight: 600;
  border-left: 3px solid red;
}

.border-2 {
  border: 1px solid #fff;
  padding: 5px 5px 5px 20px;
  background: #e3bfff;
  border-left: 3px solid blue;
}

.border-3 {
  border: 1px solid #fff;
  padding: 5px 5px 5px 20px;
  background: #baf5cd;
  border-left: 3px solid #1890ff
}

.border-4 {
  border: 1px solid #fff;
  padding: 5px 5px 5px 20px;
  background: #eee0f8;
  border-left: 3px solid #000;
}

.ant-breadcrumb {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  color: rgba(0, 0, 0, .45);
  margin-top: 40px;
  padding: 2px 25px;
  background: #07161d;
  color: #fff;
}


.ant-breadcrumb-separator {
  margin: 0 8px;
  color: rgb(250 245 245);
}

.ant-breadcrumb>nz-breadcrumb-item:last-child,
.ant-breadcrumb>nz-breadcrumb-item:last-child a {
  color: rgb(0 173 238);
}

.sort {
  border: 1px solid #d0cfcf;
  width: 50px;
  text-align: center;
  color: #000;
  padding: 2px;
}

.search input {
  border: 1px solid #d0cfcf;
  color: #000;
  padding: 2px;
}

.sort-icon i {
  font-size: 12px;
  color: #01a8e8;
  font-weight: 500;
}

.table thead tr th {
  font-size: 13px;
  font-weight: bold;
  color: #050505;
  background: #f3f3f3;
  border-right: 1px solid #ededed;
  padding: 2px 8px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.table tbody tr td {
  vertical-align: middle;
}

.ngx-pagination .current {
  background: #241f21 !important;
}

.table-empty {
  border: 1px solid #ffffff;
  padding: 5px 5px 5px 20px;
  text-align: center;
  color: #979595;
}

.mat-tree-node {
  border: 1px solid #ededed;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #474264;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222627e0;
}

.ant-popover-inner-content {
  max-width: 500px;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  button#menu-toggle-2 {
    display: block;
    margin-top: -11px;
  }

  .side-logo {
    display: none;
    width: 60%;
    margin: 0 auto;
  }

  .sidebar.toggled .side-logo {
    display: block;
  }

  .sidebar.toggled .main-logo {
    display: none;
  }

  .sidebar.toggled,
  .sidebar.toggled .sidebar-wrapper {
    z-index: 99999;
    width: 50px;
  }

  .sidebar.toggled span.site-name {
    display: none
  }

  .sidebar.toggled .logo {
    height: 72px;
  }

  .sidebar .logo-img {
    margin-left: 3px;
  }

  .sidebar.toggled .nav p {
    display: none;
  }

  .sidebar.toggled li.nav-item.ng-star-inserted.active {
    width: 76px;
  }

  .sidebar.toggled li>a {
    padding-top: 0;
  }

  .main-panel.toggled-main {
    width: calc(100% - 50px);
  }

  .sidebar .nav li a,
  .sidebar .nav li .dropdown-menu a {
    padding-left: 9px;
  }

  .sidebar.toggled .ant-menu-submenu li {
    padding-left: 12px !important;
  }

  .sidebar.toggled li .ant-menu-submenu-arrow {
    display: none;
  }

  .sidebar.toggled:hover~.sidebar.toggled li span {
    display: block;
  }

  .sidebar.toggled:hover span.site-name {
    display: block;
  }

  .sidebar.toggled:hover .nav p {
    display: block;
  }

  .sidebar.toggled:hover li.nav-item.ng-star-inserted.active {
    width: 260px;
  }

  .pinTbl>tbody>tr>td,
  .pinTbl>tbody>tr>th,
  .pinTbl>tfoot>tr>td,
  .pinTbl>tfoot>tr>th,
  .pinTbl>thead>tr>td,
  .pinTbl>thead>tr>th {
    padding: 2px 4px !important;
    vertical-align: middle !important;
    word-wrap: break-word !important;
    white-space: unset !important;
  }

  .pinTbl td,
  .pinTbl th {
    font-size: 11px;
  }

  .task-details {
    display: block;
    width: 98%;
    margin: 0px 0px 8px 2px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }

}