<ul nz-menu nzMode="inline" nzTheme="light">
    <li nz-submenu nzTitle="Section List" nzIcon="menu" nzOpen>
        <ul>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/navbar-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Navbar Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/navigation-menu">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Navigation Menu</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/hero-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Hero Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/hero-form-text">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Hero Form Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/feature-cards">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Feature Cards</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/who-we-are">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Who We Are</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/service-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Service Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/why-choose-us">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Why Choose Us</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/appointment-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Appointment Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/counter-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Counter Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/team-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Team Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/testimonial-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Testimonial Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/blog-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Blog Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/newsletter-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Newsletter Section</span>
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/website-cms/home/footer-section">
                <i nz-icon nzType="menu-unfold" nzTheme="outline"></i>
                <span>Footer Section</span>
            </li>

        </ul>
    </li>
</ul>