<h2 mat-dialog-title> {{data.save_type == 'Create' ? 'Create' : 'Update' }} Component
    <button [mat-dialog-close]="true" class="close mt-1 text-white" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span>
    </button>
</h2>
<form #levelForm="ngForm" (ngSubmit)="onClickSubmit()">
    <mat-dialog-content class="mat-typography">
        <div class="col-md-12 p-0">
            <div class="row">
                <ng-container *ngFor="let language of languages; index as i">
                    <div class="col-md-6">
                        <nz-form-label nzFor="name" nzRequired>Name
                            ({{language.code}})</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Name ({{language.code}})is required">
                                <input type="text" id="name" nz-input [(ngModel)]="language.name"
                                    name="{{language.code + i+1}}" placeholder="Name ({{language.code}})" required>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </ng-container>
                <div class="col-md-6">
                    <nz-form-label nzFor="sort_order">Sort</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Sort order is required">
                            <input type="number" id="sort_order" nz-input [(ngModel)]="data.sort_order"
                                name="sort_order" placeholder="Sort Order" required>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-6">
                    <nz-form-label nzFor="icon">Icon</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Icon is required">
                            <input type="text" id="icon" nz-input [(ngModel)]="data.icon" name="icon"
                                placeholder="Icon">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <ng-container *ngFor="let language of languages; index as i">
                    <div class="col-md-12">
                        <nz-form-label nzFor="note" nzRequired>Instruction
                            ({{language.code}})</nz-form-label>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="Instruction ({{language.code}})">
                                <textarea id="note" nz-input [(ngModel)]="language.note" name="note_{{i}}"
                                    placeholder="Instruction ({{language.code}})" required>
                            </textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <nz-divider nzDashed nzText="Development Purpose"
                        style="margin-bottom: 10px; margin-top: 10px;font-size: 12px;color: #eca4a4;">
                    </nz-divider>
                </div>
                <div class="col-md-6">
                    <nz-form-label nzFor="class" nzRequired>Class</nz-form-label>
                    <nz-form-item>
                        <nz-form-control>
                            <input nz-input type="text" [(ngModel)]="data.component" name="class" id="class"
                                placeholder="Component Class">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-label nzFor="path" nzRequired>Path</nz-form-label>
                    <nz-form-item>
                        <nz-form-control>
                            <input type="text" id="path" nz-input [(ngModel)]="data.path" name="path"
                                placeholder="Path">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-12" *ngIf="data.save_type == 'Create'">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Is component is required">
                            <nz-form-label nzRequired nzFor="is_component">Is Component</nz-form-label>
                            <nz-select nzPlaceHolder="Select is component or not" [(ngModel)]="data.is_component"
                                nzAllowClear nzPlaceHolder="Select a product" name="is_component">
                                <nz-option [nzValue]="1" nzLabel="Yes"></nz-option>
                                <nz-option [nzValue]="0" nzLabel="No"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Is notify is required">
                            <nz-form-label nzRequired nzFor="is_notify">Is Notify</nz-form-label>
                            <nz-select nzPlaceHolder="Select is notify or not" [(ngModel)]="data.is_notify" nzAllowClear
                                name="is_notify">
                                <nz-option nzValue="yes" nzLabel="Yes"></nz-option>
                                <nz-option nzValue="no" nzLabel="No"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Menu visibility is required">
                            <nz-form-label nzRequired nzFor="menu_visibility">Menu Visibility</nz-form-label>
                            <nz-select nzPlaceHolder="Select menu visibility" [(ngModel)]="data.menu_visibility"
                                nzAllowClear name="menu_visibility">
                                <nz-option [nzValue]="1" nzLabel="Website Only"></nz-option>
                                <nz-option [nzValue]="2" nzLabel="CMS Only"></nz-option>
                                <nz-option [nzValue]="3" nzLabel="Both"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6" *ngIf="data.save_type == 'Edit'">
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Is component is required">
                            <nz-form-label nzRequired nzFor="is_component">Is Component</nz-form-label>
                            <nz-select nzPlaceHolder="Select is component or not" disabled
                                [(ngModel)]="data.is_component" nzAllowClear name="is_component">
                                <nz-option [nzValue]="1" nzLabel="Yes"></nz-option>
                                <nz-option [nzValue]="0" nzLabel="No"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-md-12">
                    <nz-form-label nzFor="comments" nzRequired>Developer Note</nz-form-label>
                    <nz-form-item>
                        <nz-form-control nzErrorTip="Developer Note">
                            <textarea nz-input type="text" [(ngModel)]="data.comments" name="comments" id="comments"
                                placeholder="Comments">
                            </textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-md-6">
                    <nz-form-item>
                        <nz-form-label class="ant-label" nzFor="user_id" nzRequired>Status</nz-form-label>
                        <nz-form-control>
                            <nz-switch [ngModel]="true" nzCheckedChildren="Active" nzUnCheckedChildren="In-active"
                                [(ngModel)]="data.status" (ngModelChange)="changeStatus($event)"
                                name="status"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button [mat-dialog-close]="true" class="me-2" mat-raised-button>
            <i class="icofont icofont-close-line"></i>
            Close
        </button>
        <button [disabled]="!levelForm.form.valid||submitButtonEnable" color="primary" mat-raised-button>
            <i class="icofont icofont-save"></i>
            {{data.save_type == 'Create' ? 'Create' : 'Update' }}
        </button>
    </mat-dialog-actions>
</form>