<div class="container-fluid p-0">
  <div class="container-fluid p-0">
    <ng-container *ngIf="currentUrl === '/login' else authenticated">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-template #authenticated>
      <div class="sidebar" data-color="azure" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-3.jpg)"></div>
      </div>
      <div class="main-panel">
        <app-navbar></app-navbar>
        <ul class="breadcrumb">
          <li *ngFor="let breadcrumb of breadcrumbs ; index as i" class="breadcrumb-item">
            <ng-container *ngIf="i == 0"><i class="fa fa-home mr-2"></i></ng-container>
            <a>
              {{getBredCrumbsValue(breadcrumb) | titlecase}}
            </a>
          </li>
        </ul>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
      <div class="fixed-plugin"></div>
    </ng-template>
  </div>
</div>