
ul.breadcrumb {
  margin-top: 41px;
  background-color: #07161d;
  padding: 5px 2rem;
  color: #fff;
  border-radius: 0;
  margin-bottom: 0;
}

ul.breadcrumb a {
  color: #fff;
  font-size: 12px;
}

.breadcrumb-item+.breadcrumb-item::before {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
}