<h2 mat-dialog-title style="margin: 0;">
    {{data? 'Update': 'Create'}} Product Category
    <button [mat-dialog-close]="true" class="close mt-1 text-white" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span>
    </button>
</h2>

<form [formGroup]="productCategoryForm" (ngSubmit)="onSubmitForm()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <input formControlName="id" type="hidden" />

            <div class="col-md-12">
                <nz-form-label nzRequired nzFor="title">Title
                </nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Title is required!">
                        <input nz-input type="text" formControlName="title" id="title" placeholder="Enter title" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-12">
                <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="Description is required!">
                        <textarea nz-input type="text" placeholder="Write the description" formControlName="description"
                            id="description">
                        </textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label nzFor="status">Status</nz-form-label>
                        <nz-switch class="ml-2" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                            formControlName="status" name="status" id="status">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-6">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label nzFor="status">Feature</nz-form-label>
                        <nz-switch class="ml-2" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                            formControlName="feature" name="feature" id="feature">
                        </nz-switch>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button [mat-dialog-close]="true" class="mr-2" mat-raised-button>
            <i class="icofont icofont-close-line"></i>
            Close
        </button>
        <button [disabled]="productCategoryForm.invalid || isDisabled" color="primary" mat-raised-button>
            <i class="icofont icofont-save"></i>
            {{data? 'Update': 'Create'}}
        </button>

    </mat-dialog-actions>
</form>