<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card form-head-color " data-color="azure">
                    <div class="card-header card-header-infinity d-flex justify-content-between">
                        <h4 class="card-title">This Component is Coming Soon</h4>
                    </div>
                    <div class="card-body">
                        <img style="display: block;width: 100%;height: 100%;" src="assets/img/comming_soon.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>