<div class="card-header card-header-infinity d-flex justify-content-between">
    <h4 class="card-title">Blog lists</h4>
    <button nz-button routerLink="/website-cms/blogs/create-blog" nzType="default">
        <i class="fa fa-plus me-2"></i>
        Create Blog
    </button>
</div>
<div class="card-body">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <label class="">
                Show
                <select [(ngModel)]="resultPerPage" (ngModelChange)="changeResultPerPage($event)"
                    aria-controls="DataTables_Table_0" class="sort">
                    <option value="1000">All</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="100">500</option>
                </select>
                entries
            </label>
            <label class="search">Search:
                <input type="search" id="search" [(ngModel)]="searchValues" (ngModelChange)="searchByData($event)"
                    placeholder="Blog name" aria-controls="DataTables_Table_0">
            </label>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered medium ">
            <thead>
                <tr>
                    <th (click)="sortBy('id')" style="width: 50px;" class="text-start align-middle sort-icon">
                        SL
                        <i *ngIf="columnsSortBy==='id' && dataOrderBy" class="material-icons">
                            south
                        </i>
                        <i *ngIf="columnsSortBy==='id' && !dataOrderBy" class="material-icons">
                            north
                        </i>
                    </th>
                    <th>Image</th>
                    <th (click)="sortBy('title')" class="text-start align-middle sort-icon">
                        Title
                        <i *ngIf="columnsSortBy==='title' && dataOrderBy" class="material-icons">
                            south
                        </i>
                        <i *ngIf="columnsSortBy==='title' && !dataOrderBy" class="material-icons">
                            north
                        </i>
                    </th>
                    <th (click)="sortBy('category')" class="text-start align-middle sort-icon">
                        Category
                        <i *ngIf="columnsSortBy==='category' && dataOrderBy" class="material-icons">
                            south
                        </i>
                        <i *ngIf="columnsSortBy==='category' && !dataOrderBy" class="material-icons">
                            north
                        </i>
                    </th>

                    <th (click)="sortBy('date')" class="text-start align-middle sort-icon">
                        Date
                        <i *ngIf="columnsSortBy==='date' && dataOrderBy" class="material-icons">
                            south
                        </i>
                        <i *ngIf="columnsSortBy==='date' && !dataOrderBy" class="material-icons">
                            north
                        </i>
                    </th>

                    <th (click)="sortBy('status')" class="text-center align-middle sort-icon">
                        Status
                        <i *ngIf="columnsSortBy==='status' && dataOrderBy" class="material-icons">
                            south
                        </i>
                        <i *ngIf="columnsSortBy==='status' && !dataOrderBy" class="material-icons">
                            north
                        </i>
                    </th>
                    <th (click)="sortBy('feature')" class="text-center align-middle sort-icon">
                        Feature
                        <i *ngIf="columnsSortBy==='feature' && dataOrderBy" class="material-icons">
                            south
                        </i>
                        <i *ngIf="columnsSortBy==='feature' && !dataOrderBy" class="material-icons">
                            north
                        </i>
                    </th>
                    <th class="text-center align-middle sort-icon">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blog of blogs | paginate: {
                                                            currentPage: this.pageNumber,
                                                            itemsPerPage: this.resultPerPage,
                                                            totalItems: totalItems,
                                                            id: 'table'
                                                            }; let i=index;">
                    <td class="text-center">{{getSl(i + 1)}}</td>
                    <td class="text-center" style="width: 100px;">
                        <img [src]="rootUrl+blog.feature_image" width="100" height="60" [alt]="blog.image" />
                    </td>
                    <td class="text-capitalize text-start w-auto">
                        <a class="nav-link link"
                            [routerLink]="['/website-cms/blogs/update-blog/', convertToSlug(blog.title), blog.id]">
                            {{blog.title}}
                        </a>
                    </td>
                    <td>
                        {{blog.category}}
                    </td>
                    <td>
                        {{blog.created_at | date:'medium'}}
                    </td>

                    <td class="text-center" style="width: 100px;">
                        <nz-tag [nzColor]="blog?.status?'processing':'error'">
                            {{blog?.status?'Active':'Inactive'}}
                        </nz-tag>
                    </td>
                    <td class="text-center" style="width: 100px;">
                        <nz-tag [nzColor]="blog?.feature?'processing':'error'">
                            {{blog?.feature?'Yes':'No'}}
                        </nz-tag>
                    </td>
                    <td class="text-center" style="width: 100px;">
                        <button nz-button [routerLink]="['/website-cms/blogs/update-blog/', convertToSlug(blog.title), blog.id]"
                            nzType="default" nzSize="small">
                            <i class="fa fa-pencil me-2"></i>
                            Edit
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!totalItems" class="table-empty">
                    <td colspan="10">
                        <nz-empty></nz-empty>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="table-total-count"> Total Services: {{totalItems}}</p>
        </div>
        <div class="col-md-6 text-end">
            <pagination-controls (pageChange)="pageChange($event)" id="table" class="my-pagination">
            </pagination-controls>
        </div>
    </div>
</div>