.table {
  >thead>tr>th {
    border-bottom-width: 1px;
    font-size: $font-size-h5;
    font-weight: $font-weight-light;
  }
  .form-check {
    margin-top: 0;
    .form-check-sign {
      top: -13px;
      left: 0;
      padding-right: 0;
    }
  }
  .radio,
  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 15px;
    .icons {
      position: relative;
    }
  }
  >thead>tr>th,
  >tbody>tr>th,
  >tfoot>tr>th,
  >thead>tr>td,
  >tbody>tr>td,
  >tfoot>tr>td {
    /*padding: 12px 8px;*/
    padding: 2px 4px;
    vertical-align: middle;
  }
  thead {
    tr {
      th {
        font-size: 1.063rem;
        /* background-color: #000;
        background-color: #00bcd4;
        color: #fff;*/
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  .th-description {
    max-width: 150px;
  }
  .td-price {
    font-size: 26px;
    font-weight: $font-weight-light;
    margin-top: 5px;
    text-align: right;
  }
  .td-total {
    font-weight: $font-weight-bold;
    font-size: $font-size-h5;
    padding-top: 20px;
    text-align: right;
  }
  .td-actions .btn {
    margin: 0px;
    padding: 5px;
  }
  >tbody>tr {
    position: relative;
  }
}

.table-shopping {
  >thead>tr>th {
    font-size: $font-size-h6;
    text-transform: uppercase;
  }
  >tbody>tr>td {
    font-size: $font-paragraph;
    b {
      display: block;
      margin-bottom: 5px;
    }
  }
  .td-name {
    font-weight: $font-weight-default;
    font-size: 1.5em;
    line-height: 1.42857143;
    small {
      color: $gray-light;
      font-size: 0.75em;
      font-weight: $font-weight-light;
    }
  }
  .td-number {
    font-weight: $font-weight-light;
    font-size: $font-size-h4;
  }
  .td-name {
    min-width: 200px;
  }
  .td-number {
    text-align: right;
    min-width: 150px;
    small {
      margin-right: 3px;
    }
  }
  .img-container {
    width: 120px;
    max-height: 160px;
    overflow: hidden;
    display: block;
    img {
      width: 100%;
    }
  }
}

// BS4 has not yet converted the following to variables - keep an eye on it and move to variables when possible.
.thead-inverse {
  th {
    //color: $bmd-inverse; // #fff;
    //background-color: $gray-dark;
  }
}

.thead-default {
  th {
    //color: $gray;
    //background-color: $bmd-inverse-lighter; //$gray-lighter;
  }
}

.table-inverse {
  color: $bmd-inverse-light; //$gray-lighter;
  //background-color: $gray-dark;
  //th,
  //td,
  //thead th {
  //  border-color: $gray;
  //}
}

.table {
  thead th {
    font-size: $bmd-table-header-font-size;
    font-weight: 500;
    border-top-width: 0;
    border-bottom-width: $table-border-width;
  }
}

thead.thead-inverse,
// needs specificity
.table-inverse thead {
  th {
    color: $bmd-inverse-lighter;
  }
}

.table-inverse {
  th,
  td,
  thead th {
    border-color: $bmd-table-border-color-inverse;
  }
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.barinfi {
  width: 6px;
  height: 30px;
  display: inline-block;
  transform-origin: center;
  animation: loading 1s ease-in-out infinite;
}

.middleinfinity {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar1 {
  animation-delay: 0.1s;
}

.bar2 {
  animation-delay: 0.2s;
}

.bar3 {
  animation-delay: 0.3s;
}

.bar4 {
  animation-delay: 0.2s;
}

.bar5 {
  animation-delay: 0.1s;
}

// @keyframes loading {
//   0% {
//     transform: scaleY(0.1);
//     background: #563d7c;
//   }
//   50% {
//     transform: scaleY(1);
//     background: #00bbff;
//   }
//   100% {
//     transform: scaleY(0.1);
//     background: transparent;
//   }
// }

// .loading {
//   width: 50px;
//   height: 50px;
//   box-sizing: border-box;
//   border-radius: 50%;
//   border-top: 10px solid #aaa;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   animation: a1 2s linear infinite;
// }

// .loading::before,
// .loading::after {
//   content: '';
//   width: 50px;
//   height: 50px;
//   position: absolute;
//   left: 0;
//   top: -10px;
//   box-sizing: border-box;
//   border-radius: 50%;
// }

// .loading::before {
//   border-top: 10px solid #3498db;
//   transform: rotate(120deg);
// }

// .loading::after {
//   border-top: 10px solid #563d7c;
//   transform: rotate(240deg);
// }

// .loading span {
//   position: absolute;
//   width: 50px;
//   height: 50px;
//   color: #000;
//   text-align: center;
//   line-height: 200px;
//   animation: a2 2s linear infinite;
// }

// @keyframes a1 {
//   to {
//     transform: rotate(360deg);
//   }
// }

// @keyframes a2 {
//   to {
//     transform: rotate(-360deg);
//   }
// }





:root {
  --rond-min: 20px;
  --rond-max: 60px;
  --first-color: #2a2a72;
  --second-color: #009ffd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.box-loader {
  height: 80px;
  width: 80px;
  position: relative;
}
.box-loader .rond {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.box-loader .first {
  height: var(--rond-min);
  width: var(--rond-min);
  animation: anim_one 2s linear infinite;
  background: var(--first-color);
}
.box-loader .second {
  left: calc(100% - var(--rond-max));
  top: calc(100% - var(--rond-max));
  height: var(--rond-max);
  width: var(--rond-max);
  animation: anim_two 2s linear infinite;
  background: var(--second-color);
}

@keyframes anim_one {
  0%,100% { top: 0; left: 0; }
  25% { top: 0; left: calc(100% - var(--rond-min)); }
  50% {
    left: calc(100% - var(--rond-max));
    top: calc(100% - var(--rond-max));
    height: var(--rond-max);
    width: var(--rond-max);
    background: var(--second-color);
  }
  75% { left: 0; top: calc(100% - var(--rond-min)); }
}

@keyframes anim_two {
  0%,100% {
    left: calc(100% - var(--rond-max));
    top: calc(100% - var(--rond-max));
    height: var(--rond-max);
    width: var(--rond-max);
  }
  25% { top: calc(100% - var(--rond-min)); left: 0; }
  50% {
    left: 0;
    top: 0;
    height: var(--rond-min);
    width: var(--rond-min);
    background: var(--first-color);
  }
  75% { left: calc(100% - var(--rond-min)); top: 0; }
}
